<div>
    <table class="table table-condensed ">
        <thead>
        <tr>
            <th align="center">Name</th>
            <th>Phone Number</th>
            <th>Email Id</th>
            <th># of time visited</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Piyush Pardeshi</td>
            <td>8888888888</td>
            <td>piyushpardeshiu@gmail.com</td>
            <td>3</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash-o"></i> Remove</button>
            </td>
        </tr>
        <tr>
            <td>Piyush Pardeshi</td>
            <td>8888888888</td>
            <td>-</td>
            <td>3</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash-o"></i> Remove</button>
            </td>
        </tr>
        <tr>
            <td>Piyush Pardeshi</td>
            <td>8888888888</td>
            <td>piyushpardeshiu@gmail.com</td>
            <td>3</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash-o"></i> Remove</button>
            </td>
        </tr>
        <tr>
            <td>Piyush Pardeshi</td>
            <td>8888888888</td>
            <td>piyushpardeshiu@gmail.com</td>
            <td>3</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash-o"></i> Remove</button>
            </td>
        </tr>
        <tr>
            <td>Piyush Pardeshi</td>
            <td>8888888888</td>
            <td>piyushpardeshiu@gmail.com</td>
            <td>3</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash-o"></i> Remove</button>
            </td>
        </tr>
        <tr>
            <td>Piyush Pardeshi</td>
            <td>8888888888</td>
            <td>-</td>
            <td>3</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash-o"></i> Remove</button>
            </td>
        </tr>
        <tr>
            <td>Piyush Pardeshi</td>
            <td>8888888888</td>
            <td>piyushpardeshiu@gmail.com</td>
            <td>3</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash-o"></i> Remove</button>
            </td>
        </tr>
        <tr>
            <td>Piyush Pardeshi</td>
            <td>8888888888</td>
            <td>piyushpardeshiu@gmail.com</td>
            <td>3</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash-o"></i> Remove</button>
            </td>
        </tr>
        <td>Piyush Pardeshi</td>
        <td>8888888888</td>
        <td>-</td>
        <td>3</td>
        <td>
            <button type="button" class="btn btn-danger btn-sm">
                <i class="fa fa-trash-o"></i> Remove</button>
        </td>
        </tr>
        </tr>
        <td>Piyush Pardeshi</td>
        <td>8888888888</td>
        <td>piyushpardeshiu@gmail.com</td>
        <td>3</td>
        <td>
            <button type="button" class="btn btn-danger btn-sm">
                <i class="fa fa-trash-o"></i> Remove</button>
        </td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination pull-right">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>